@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en-US">
<body>


    <div id="chart_div"></div>
    <div id="chart"></div>
    <div id="pie"></div>




    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Energy', 'GWH'],
                ['Hydraulic accumaltor', 55],
                ['Hydraulic over water', 43],
                ['New renewable energy', 2]
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = { 'width': 500, 'height': 400 };

            // Display the chart inside the <div> element with id="pie"
            var chart = new google.visualization.PieChart(document.getElementById('pie'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Price', 'Production'],
                ['Jan.', 1000, 400],
                ['Avril', 1170, 460],
                ['Aout', 660, 1120],
                ['Décembre', 1030, 540]
            ]);

            var options = {
                title: 'Production [kWh]',
                hAxis: { title: 'Month', titleTextStyle: { color: '#333' } },
                vAxis: { minValue: 0 }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Price', 'Production'],
                ['janvier', 500, 400],
                ['avril', 900, 1210],
                ['aout', 1100, 500],
                ['decembre', 775, 900]
            ]);

            var options = {
                title: 'Power [kW]',
                hAxis: { title: 'Month', titleTextStyle: { color: '#333' } },
                vAxis: { minValue: 0 }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart'));
            chart.draw(data, options);
        }
    </script>

</body>
</html>




<div class="container">
    <p>



        <button type="button" class="btn btn-default btn-sm">

            <span style="font-size:50px" class="glyphicon glyphicon-circle-arrow-right"></span>
            <br />
            NER detail
        </button>

    </p>

</div>


